package ${packageName}.domain;

import ${packageName}.domain.base.${ClassName}Base;

/**
 * ${functionName}对象 ${tableName}
 * 
 * @author ${author}
 */
public class ${ClassName} extends ${ClassName}Base
{
    private static final long serialVersionUID = 1L;
}
